.bloc1 {
    margin: 0;
    padding: 0;
    display: block;
    background: #009EE2;
    color: #FFFFFF;
    position: relative;
    z-index: -1;
    padding: 100px 0 100px 0;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.bloc1 .col-md-6 {
    width: 50%;
}

.bloc1 .col-md-6 img {
    height: auto;
    width: 100%;
}

.bloc1 .card {
    background: none;
    border: none;
    display: flex;
    align-items: flex-end;
}

.bloc1 .card {
    width: 50%;
}

.bloc1 .card .card-body .card-title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}

.bloc1 .card .card-body .card-text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    margin: 60px 0 60px;
    display: flex;
    align-items: center;
    width: 90%;
    text-align: justify;
    color: #FFFFFF;
}

.bloc1 .card .card-body .bt1 .btn {
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 16px;
    width: 150px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #009EE2;
}

.bloc1 .card .card-body .bt2 .btn {
    box-sizing: border-box;

    width: 150px;
    position: absolute;

    border: 1.5px solid #FFFFFF;
    border-radius: 16px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

/* Bloc2 Bloc3 css */
.bloc2 {
    margin-bottom: 5%;
}

.bloc2 p {
    font-family: 'Manrope';
    font-style: Light;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    padding: 20px 0 20px 0;
}

.bloc2 p span {
    color: #009EE2;
}

.bloc3 .col-md-6,
.bloc2 .col-md-6 {
    width: 50%;
}

.bloc3 .col-md-6 img,
.bloc2 .col-md-6 img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

@media (min-width: 1400px) {

    .bloc3 .col-md-6 img,
    .bloc2 .col-md-6 img {
        height: auto;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
    }
}

.bloc3 .card .card-body,
.bloc2 .card .card-body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bloc3 .card,
.bloc2 .card {
    background: none;
    border: none;
    display: flex;
    align-items: flex-end;
}


.bloc3 .card {
    width: 50%;
}

.bloc3 {
    margin-top: 30px;
}

.bloc2 .card {
    width: 50%;
}

.bloc3 .card .card-body .card-text,
.bloc2 .card .card-body .card-text {
    font-family: 'Manrope';
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 25px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
}


.bloc3 .card .card-body .bt1 .btn,
.bloc2 .card .card-body .bt1 .btn {
    box-sizing: border-box;
    color: #FFFFFF;
    border-radius: 16px;
    width: auto;
    font-family: 'Manrope';
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
    background: #009EE2;
}

.bloc3 .card .card-body .bt1 {
    padding-left: 0px;
}

.bloc4 {
    background: #009EE2;
    margin: 50px 0 50px 0;
    padding: 100px 0 100px 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.bloc4 .col-md-12 {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.bloc4 p {
    text-align: center;
    font-family: 'Manrope';
    font-style: extraLight;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;
    width: 100%;
    color: #FFFFFF;
}

.bloc4 p span {
    color: #000000;
}

.bloc4 h5 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    text-align: right;
    color: #FFFFFF;
    width: 100%;
}

.bloc5 {
    margin: 0px 0 50px 0;
    display: flex;
    align-items: center;
}


.bloc5 .col-md-12 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bloc6 p,
.bloc5 p {
    margin: 0px 0 50px 0;
    font-family: 'Manroppe';
    font-style: Light;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    text-align: center;
}

.bloc6 p span,
.bloc5 p span {
    color: #009EE2;
}

.bloc5 .bt2 {
    width: auto;
    background: #009EE2;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}

.bloc5 .bt2 .btn {
    font-family: 'Manrope';
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.bloc6 .container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 450px;
}

.bloc6 .container .card {
    border: none;
    background: none;
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/rond.png');
}

.bloc6 .container .card p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 45px 0;
}

/* Bloc7 */
.bloc7 {
    margin: 100px 0 50px 0;
    display: flex;
    align-items: center;
}

.bloc7 p {
    font-family: 'Manrope';
    font-style: Light;
    font-weight: 700;
    font-size: 48px;
    line-height: 45px;
    text-align: center;
    color: #009EE2;
}

.bloc7 h5 {
    font-family: 'Manrope';
    font-style: ExtraLight;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #009EE2;
}

.bloc7 h6 {
    font-family: 'Manrope';
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

/* Fin Bloc7 */


/* Bloc fondateurs */

.containerm {
    min-height: 25vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.images {
    overflow: hidden;
    height: 300px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    border-radius: 30px;
}

.images:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background: linear-gradient(0deg, rgba(0, 158, 226, 0.8), rgba(0, 158, 226, 0.8)), url(.jpg);
    opacity: 0.8;
    border-radius: 50%;
    transition: .8s
}

.images:hover:after {
    transform: translate(-50%, -50%)
}

.images img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s
}

.images span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
}

.images p {
    width: 100%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.images p {
    top: 70%;
    left: 50%;
}

.images span {
    top: 80%;
    left: 50%;
}

.images span,
.images p {
    position: absolute;
    z-index: 2;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in
}

.images:hover p,
.images:hover span {
    transform: translate(-50%, -50%);
    transition-timing-function: ease
}

/* Fin bloc fondateurs */


/* Dernier bloc */
.accordion {
    margin: 50px 0 50px;
}

.accordion-button {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
}

.accordion-collapse .accordion-body {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    color: #394149;
}

.accordion-item .accordion-header .accordion-button {
    font-family: 'Manrope';
    font-style: Light;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #212121;
}

.accordion-collapse .accordion-body {
    font-family: 'Manrope';
    font-style: ExtraLight;
    font-weight: 200;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    color: #394149;
}

.accordion .accordion-item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    border: none;
    box-shadow: 0px 2px 4px #009EE2;
}

.accordion-header .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background-color: #009EE2;
}

.accordion .accordion-item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: 'ubuntu';
    font-style: normal;
}


/* Fin dernier bloc */

.blocs {
    background-image: url('../images/Jokkolanté_KK.png');
    background-size: 60% 80%;
    background-repeat: no-repeat;
}

/* Media Query */
@media (max-width: 1200px) {

    .bloc1 .card .card-body .card-title {
        font-size: 60px;
        line-height: 74px;
    }

    .bloc3 .card .card-body .card-text,
    .bloc2 .card .card-body .card-text,
    .bloc1 .card .card-body .card-text {
        font-size: 18px;
        line-height: 35px;
        margin: 0px 0 20px 0;
        padding: 0;
    }

    .bloc1 .card .card-body .bt1 .btn,
    .bloc2 .card .card-body .bt1 .btn,
    .bloc3 .card .card-body .bt1 .btn {
        font-size: 14px;
        line-height: 22px;
    }

    .bloc3 .col-md-6 img,
    .bloc2 .col-md-6 img {
        width: 80%;
        padding-top: 0px;
    }

}

@media (max-width: 1000px) {

    .bloc1 .card .card-body .card-title {
        font-size: 60px;
        line-height: 74px;
    }

    .bloc3 .card .card-body .card-text,
    .bloc2 .card .card-body .card-text,
    .bloc1 .card .card-body .card-text {
        font-size: 18px;
        line-height: 25px;
    }

    .bloc1 .card .card-body .bt1 .btn,
    .bloc2 .card .card-body .bt1 .btn,
    .bloc3 .card .card-body .bt1 .btn {
        font-size: 14px;
        line-height: 20px;
    }


    .bloc3 .col-md-6 img,
    .bloc2 .col-md-6 img {
        width: 100%;
        padding-top: 0px;
    }

    .a-propos .bloc1 {
        margin-top: 0;
    }

}

@media (max-width: 900px) {

    .bloc1 .card .card-body .card-title {
        font-size: 50px;
        line-height: 64px;
    }

    .a-propos .bloc1 {
        margin-top: 0;
    }

    .bloc4 .col-md-12 {
        width: 350px;
    }

    .bloc4 h5,
    .bloc4 p,
    .bloc3 .card .card-body .card-text,
    .bloc2 .card .card-body .card-text {
        font-size: 18px;
        line-height: 25px;
    }

    .bloc1 .card .card-body .card-text {
        font-size: 18px;
        line-height: 35px;
        margin: 20px 0 20px 0;
    }

    .bloc1 .card .card-body .bt1 .btn,
    .bloc2 .card .card-body .bt1 .btn,
    .bloc3 .card .card-body .bt1 .btn {
        font-size: 14px;
        line-height: 22px;
    }

    .bloc1 .card .card-body .bt2 .btn {
        font-size: 14px;
        line-height: 22px;
    }

    .bloc3 .col-md-6 img,
    .bloc2 .col-md-6 img {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .containerm {
        min-height: 20vh;
    }

    .bloc7 {
        margin: 50px 0 0px 0;
        display: flex;
        align-items: center;
    }

    .bloc7 h5,
    .bloc2 p,
    .bloc5 p,
    .bloc6 p,
    .bloc7 p {
        font-size: 25px;
        line-height: 34px;
    }

    .bloc1 .card .card-body .card-title {
        font-size: 35px;
        line-height: 44px;
    }

    .bloc3 .card .card-body .card-text,
    .bloc2 .card .card-body .card-text {
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 10px;
        padding: 0 0 0px 0;
    }

    .bloc1 .card .card-body .card-text {
        font-size: 15px;
        line-height: 20px;
        margin: 20px 0 20px 0;
    }

    .bloc1 .card .card-body .bt1 .btn,
    .bloc2 .card .card-body .bt1 .btn,
    .bloc1 .card .card-body .bt1 .btn {
        width: auto;
        font-size: 12px;
        line-height: 22px;
    }

    .bloc1 .card .card-body .bt2 .btn {
        font-size: 12px;
        line-height: 22px;
    }

    .bloc3 .col-md-6 img,
    .bloc2 .col-md-6 img {
        width: 100%;
    }

    .bloc2 {
        padding-bottom: 20px;
    }

    .images {
        width: 200px;
        height: 250px;
        margin: 50px auto 50px;
        border-radius: 25px;
    }

    .images img {
        width: 100%;
        height: 100%;
    }

    .bloc7 h5 {
        margin-top: 20px;
    }
}

@media (max-width: 500px) {
    .images span {
        font-size: 5px;
        line-height: 10px;
    }

    .images p {
        font-size: 6px;
        line-height: 100px;
    }

    .containerm {
        min-height: 10vh;
    }

    .containerm .col-md-4 {
        width: 33%;
    }

    .accordion-item .accordion-header .accordion-button {
        font-size: 15px;
    }

    .accordion-collapse .accordion-body {
        font-size: 15px;
    }

    .a-propos .bloc1 {
        margin-top: 0;
        padding: 50px 0 50px 0;
    }

    .bloc2 .col-md-6,
    .bloc3 .col-md-6,
    .bloc1 .col-md-6 {
        width: 100%;
    }

    .bloc1 .card {
        align-items: baseline;
        margin-bottom: 20px;
        width: 100%;
    }

    .bloc4 .col-md-12 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .bloc7 h6,
    .bloc4 h5,
    .bloc4 p,
    .bloc3 .card .card-body .card-text,
    .bloc2 .card .card-body .card-text,
    .bloc1 .card .card-body .card-text {
        font-size: 15px;
        line-height: 25px;
    }

    .bloc3 .card .card-body,
    .bloc2 .card .card-body {
        position: relative;
        margin: 0;
    }

    .bloc3 .col-md-6 img,
    .bloc2 .col-md-6 img {
        height: 100%;
        width: 90%;
    }

    .bloc2 {
        padding-bottom: 0px;
    }

    .bloc6 .container {
        width: 300px;
    }

    .bloc6 .container .card {
        width: 100px;
        height: 100px;
    }

    .bloc6 .container .card p {
        font-size: 14px;
        line-height: 18px;
        padding: 22px 0;
    }

    .bloc6 p,
    .bloc5 p {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    .bloc5 .col-md-12 {
        width: 100%;
    }

    .images {
        width: 85px;
        height: 105px;
        margin: 20px auto 20px;
        border-radius: 10px;
    }

    .images img {
        width: 100%;
        height: 100%;
    }
}
