
.navbars h1 {
    margin-top: 100px;
    width: 100%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    color: #212121;
}
.container .bnt {
    margin-left: 120px;
}
.container .btn-link {
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    text-decoration: none;
}
/* .accordion-button:is(true) {
    background-color: #009EE2;
    color: #FFFFFF;
} */
.accordion-header .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background-color: #009EE2;
}
.accordion{
    margin-bottom: 100px;
}

.accordion .accordion-item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Ubuntu';
    font-style: normal;
    border: none;
/*     border-color: #009EE2; */
    box-shadow: 0px 2px 4px #009EE2;
}
.bloc1 {
    margin: 0;
    padding: 0;
    display: block;
    background: #009EE2;
    color: #FFFFFF;
    /* height: 600px; */
    position: relative;
    z-index: -1;
    padding: 100px 0 100px 0;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.bloc1 .col-md-6 {
    width: 50%;
}
.bloc1 .col-md-6 img {
    height: 100%;
    width: 100%;
}

.bloc1 .card {
    background: none;
    border: none;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
}
.bloc1 .card {
    width: 50%;
}
.bloc1 .card-title {
    padding-left: 10%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
}
.bloc1 .card .card-body {
    width: 80%;
}
.bloc1 .card .card-body .card-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    /* or 225% */
    margin: 60px 0 60px;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: justify;
    color: #FFFFFF;
}
.bloc1 .card .card-body .bt1 .btn {
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 16px;
    width: 150px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #009EE2;
}
.bloc1 .card .card-body .bt2 .btn {
    box-sizing: border-box;
    width: 150px;
    position: absolute;
    border: 1.5px solid #FFFFFF;
    border-radius: 16px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}


@media (max-width: 940px) {
    .navbars h1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 40px;
    }
    .container .bnt {
        margin-left: 80px;
    }
}
@media (max-width: 500px) {
    .navbars h1 {
        margin-top: 20px;
        font-size: 18px;
        line-height: 50px;
    }

    .container .bnt {
        margin: 20px 0 0px;
    }
}
@media (max-width: 360px) {
    .navbars h1 {
        font-size: 13px;
        line-height: 30px;
    }
}

@media (max-width: 1200px) {
    .bloc1 .card-title {
        font-size: 60px;
        line-height: 74px;
    }
    .bloc1 .card-text {
        font-size: 18px;
        line-height: 35px;
        margin: 0px 0 20px 0;
        padding: 0;
    }
    .bloc1 .card .card-body .bt1 .btn {
        font-size: 14px;
        line-height: 22px;
    }
}
@media (max-width: 1000px) {
    .bloc1  .card-title {
        font-size: 50px;
        line-height: 74px;
    }
    .bloc1  .card-text {
        font-size: 18px;
        line-height: 25px;
    }
    .bloc1  .bt1 .btn {
        font-size: 14px;
        line-height: 20px;
    }
}
@media (max-width: 900px) {
    .bloc1  .card-title {
        font-size: 45px;
        line-height: 64px;
    }
    .bloc1  .card-text {
        font-size: 18px;
        line-height: 35px;
        margin: 20px 0 20px 0;
    }
    .bloc1  .bt1 .btn{
        font-size: 14px;
        line-height: 22px;
    }
    .bloc1  .bt2 .btn {
        font-size: 14px;
        line-height: 22px;
    }
}
@media (max-width: 770px) {
    .bloc1  .card-title {
        font-size: 30px;
        line-height: 44px;
    }
    .bloc1  .card-text {
        font-size: 15px;
        line-height: 20px;
        margin: 20px 0 20px 0;
    }
    .bloc1  .bt1 .btn {
        width: auto;
        font-size: 12px;
        line-height: 22px;
    }
    .bloc1  .bt2 .btn {
        font-size: 12px;
        line-height: 22px;
    }
}
@media (max-width: 500px) {
    .bloc1 {
        padding: 50px 0 80px 0;
    }
    .bloc1 .col-md-6 {
        width: 100%;
    }
    .bloc1  .card-title {
        font-size: 25px;
        padding: 0;
        margin: 20px 0 0;
        line-height: 44px;
    }
    .bloc1 .card {
        padding: 0;
        margin-top: -40px;
        align-items: baseline;
        margin-bottom: 50px;
        width: 100%;
    }
    .container .btn-link,
    .bloc1 .card .card-body .card-text {
        font-size: 15px;
        line-height: 20px;
    }

}
