.bg {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #009EE2;
    color: #FFFFFF;
}

.bg .navbar .container .navbar-brand {
    width: 50%;
}

.bg .navbar .container .navbar-brand img {
    width: 200px;
}

.bg .navbar .container .profil .btn {
    background: #D9D9D9;
    border-radius: 50px;
    color: #009EE2;
    border: 1px solid #009EE2;
    height: 50px;
    padding: 5px 10px 5px 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    margin: 0;
    flex-basis: 0%;
    justify-content: flex-end;
    align-items: center;
}

.navbar-expand-lg .navbar-collapse .langue {
    margin-right: 20px;
}

.navbar-expand-lg .navbar-collapse .langue span {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.navbar-expand-lg .navbar-collapse .langue .active {
    border-bottom: 2px solid #FFFFFF;
}

.bg .navbar .container .profil .btn .burger {
    color: #009EE2;
    height: 20px;
}

.bg .navbar .container .profil .btn .prof {
    color: #009EE2;
    height: 40px;
    margin-left: 10px;
}

.bg .navbar .container .profil .btn ul {
    background: #DBDBDB;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.32), 0px 4px 4px #009EE2;
    margin-left: -125px;
    padding: 0;
    margin-top: 15px;
}

.dropdown-menu li {
    padding: 8px 0 8px 0;
}

.dropdown-menu li a {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #009EE2;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
}

.dropdown-menu li .gras {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: #009EE2;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
}

.dropdown-menu li a:hover {
    background-color: #009EE2;
    color: #FFFFFF;
}

.dropdown-menu .trait {
    border-bottom: 2px solid #009EE2;
}


@media (max-width: 500px) {
    .bg .navbar .container .navbar-brand img {
        padding: 0 0 5px 0;
        width: 100px;
    }

    .bg .navbar .container .profil .btn {
        padding: 2px 10px 2px 10px;
        height: 35px;
    }

    .bg .navbar .container .profil .btn .burger {
        height: 15px;
    }

    .bg .navbar .container .profil .btn .prof {
        height: 20px;
    }

    .navbar-expand-lg .navbar-collapse .langue span {
        font-size: 12px;
        line-height: 14px;
    }

    .navbar-expand-lg .navbar-collapse .langue {
        margin-right: 10px;
    }


    .bg .navbar .container .profil .btn ul {
        margin-left: -90px;
        padding: 0;
        margin-top: 14px;
    }

    .dropdown-menu li {
        padding: 5px 0 5px 0;
    }

    .dropdown-menu li a {
        font-size: 12px;
        line-height: 14px;
    }

    .dropdown-menu li .gras {
        font-size: 15px;
        line-height: 20px;
    }
}
