.liste_utlisateurs .table-responsive {
    height: 100%;
}
.liste_utlisateurs h1 {
    font-family: 'Ubuntu';
    font-size: 30px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: center;
    margin: 50px 0;
}

.liste_utlisateurs .table-responsive .table thead tr th {
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.02em;
    text-align: center;
    background: #009EE2;
    color: #FFFFFF;
}
.liste_utlisateurs .table-responsive .table tbody tr td {
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #9A9EA3;
    border-left: 1px solid #9A9EA3;
}
.liste_utlisateurs .table-responsive .table tbody tr {
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    /* background: #FFFFFF; */
}
.liste_utlisateurs .table-responsive .table {
    border-bottom: 2px solid #9A9EA3;
    /* background: #FFFFFF; */
}
.liste_utlisateurs .dataTables_paginate .pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.liste_utlisateurs .main-content main .col-sm-12 .m-0 {
    margin: 50px 0 50px !important;
}

.liste_utlisateurs .table-responsive  .row .col-sm-12,
.liste_utlisateurs .table-responsive  .dt-row .col-sm-12{
 padding: 0;
}
.liste_utlisateurs .table-responsive  .row,
.liste_utlisateurs .table-responsive  .dt-row {
 margin: 0;
 width: 100%;
}

@media(max-width: 600px) {
    .liste_utlisateurs h1 {
        margin: 0px 0 40px;
    }
}
