.container{
    margin-top: 25px;
}

.container .card-body {
    width: 80%;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    margin-top: 150px;
    align-items: center;
    color: #009EE2;
}
.container .row img {
    width: 100%;
}

.transfere{
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: #009EE2;
    margin-top: 20px;
}

.transfere ul{
    padding: 0px;
    margin: 0px;
}


.transfere ul li{
    float:left;
    list-style: none;
    width: 10%;
    height: 140px;
    text-align: center;
    background: #FFFFFF;
    margin :20px 0px 20px 55px;
    border-radius: 50%;
    /* border:2px solid blue; */
    /* box-sizing: border-box; */
}
/* .transfere ul li:hover{
    opacity: 0.8;
} */

.transfere ul li .bottom{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: blue;
    text-align: center;
    color:white;
    font-size: 20px;

}

@media screen and (max-width:1250px){
    .transfere ul li{
        width:40%;
        margin-left: 40px;

    }
}
