input#search {
    /* background-image: url("../../../public/assets/images/search.png");
    background-repeat: no-repeat; */
    height: 60px;

    background: #009EE2;
    border-radius: 50px;
    border: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    text-align: center;
    padding-left: 25px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
    /* color: rgba(255, 255, 255, 0.25); */

}

.projet {
    margin: 50px auto 50px auto
}

.trait {
    border-left: 4px solid #009EE2;
    height: auto;
    margin: -50px 0 -50px;
}

.form-group img {
    position: absolute;
    height: 30px;
    margin: 15px;
}

.rond {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #009EE2;
}

.log img {
    width: 50px;
}

.rond img {
    display: flex;
    width: 30px;
    height: 20px;
    margin: 15px auto;
}

.cr-projet button {
    /* position: absolute; */
    width: 80%;
    height: 70px;
    border: none;
    margin-top: 50px;

    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.32), 0px 4px 23px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
}

.cr-projet button {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;

    letter-spacing: -0.02em;
    color: #009EE2;
    padding: 5px;
}

.cr-projet button img {
    height: 40px;
    width: 40px;
}

.projets {
    margin-top: 50px;
    width: 100%;
    padding: 0 5%;
}

.projets .dropdown .btn,
.projets p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;

    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: -0.02em;

    color: #000000;
}

.projets .dropdown ul {
    background: #009EE2;
    min-width: 9.2rem;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.projets .dropdown ul li a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    /* or 262% */
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.resultat {
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.resultat p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* identical to box height, or 262% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
}

.projet2 .col-md-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.projet2 p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #009EE2;
}

.projet2 button {
    padding: 0 20px;
    height: 70px;
    border: none;
    background: #009EE2;
    border-radius: 50px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height, or 262% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.projet2 img {
    height: 40px;
    /* margin-top: 50px; */
}

.projet2 h5 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #009EE2;
}

.bg_projet {
    padding-top: 6%;
    margin: 50px auto 0;
    width: 100%;
    height: 400px;
    background-image: url("../images/bg_projet.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_projet .col-md-12 {
    width: 100%;
}

.menu-projet ul {
    background: #009EE2;
    border: 1px solid #009EE2;
    position: absolute;
    margin-left: -520% !important;
    margin-top: 50% !important;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.menu-projet ul li {
    padding: 0 10px;
}

.menu-projet ul li a h5 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /* padding: 0; */
    margin: 0;
    line-height: 32px;
    /* identical to box height, or 89% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.menu-projet ul li a img {
    width: auto;
    padding: 0;
    margin: 5px 0 0;
    position: absolute;
    /* background: #FFFFFF; */
}

.menu-projet ul li a p {
    font-family: 'Ubuntu';
    padding: 0;
    margin: 0 0 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    color: #000000;
}

.scroller {
    overflow: auto;
    width: 300px;
    height: 450px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 158, 226, 0.25);
}

.trait-menu-projet {
    height: 2px;
    background: #FFFFFF;
    border-radius: 5px;
}


@media (max-width: 1200px) {

    .projet2 button,
    .cr-projet button {
        font-size: 25px;
        line-height: 30px;
        padding: 0 20px;
    }

    input#search {
        width: 100%;
    }

    .bg_projet {
        padding-top: 4%;
        margin: 50px auto 0;
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 995px) {
    .cr-projet button {
        width: 100%;
    }

    .projet2 h5 {
        font-size: 12px;
        line-height: 15px;
    }

    .bg_projet {
        padding-top: 6%;
        margin: 50px auto 0;
        width: 100%;
        height: 200px;
    }

    .projet2 img {
        height: 20px;
        /* margin-top: 50px; */
    }

    .projet2 button,
    .cr-projet button {
        height: 50px;
        font-size: 20px;
        padding: 0 20px;
        line-height: 30px;
    }

    input#search {
        font-size: 15px;
        height: 40px;
        padding-left: 0px;
        width: 100%;
    }

    .form-group img {
        position: absolute;
        height: 25px;
        margin: 9px;
    }

    .rond {
        width: 40px;
        height: 40px;
    }

    .log img {
        width: 40px;
    }

    .rond img {
        display: flex;
        width: 20px;
        height: 15px;
        margin: 13px auto;
    }

    .cr-projet button img {
        height: 30px;
        width: 30px;
    }

    .menu-projet ul {
        width: auto;
        margin-left: -530% !important;
        margin-top: 50% !important;
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

    .menu-projet ul li a h5 {
        font-size: 20px;
        /* padding: 0; */
        margin: 0;
        line-height: 30px;
    }

    .menu-projet ul li a img {
        width: 18px;
        padding: 0;
        margin: 10px 0 0;
    }

    .menu-projet ul li a p {
        padding: 0;
        margin: 0 0 0 30px;
        font-size: 15px;
        line-height: 32px;
    }
}

@media (max-width: 768px) {
    .cr-projet {
        margin: auto;
    }

    .cr-projet button {
        font-size: 12px;
        line-height: 15px;
        padding: 0 5px;
        height: 30px;
        width: 100%;
    }

    input#search {
        font-size: 12px;
        height: 30px;
        padding-left: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .form-group img {
        position: absolute;
        height: 18px;
        margin: 6px 20px;
    }

    .rond {
        width: 30px;
        height: 30px;
    }

    .log img {
        width: 30px;
    }

    .rond img {
        display: flex;
        width: 15px;
        height: 10px;
        margin: 10px auto;
    }

    .cr-projet button img {
        height: 20px;
        width: 20px;
    }

    .resultat {
        text-align: center;
        width: 100%;
    }

    .projets {
        padding: 0;
    }

    .projets .dropdown ul li a {
        font-size: 12px;
        line-height: 14px;
    }

    .projets .dropdown ul li a {
        padding: 0 20px;
    }

    .projet2 p,
    .projets .dropdown .btn,
    .resultat p,
    .projets p {
        width: 100%;
        margin: auto 5px;
        font-size: 12px;
        line-height: 10px;
    }

    .projets .dropdown .btn {
        text-align: right;
    }

    .projets .dropdown ul {
        min-width: 1rem;
    }

    .projets .col-md-6 {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .projet2 p {
        width: 100%;
        padding: 0;
        font-size: 15px;
        line-height: 25px;
        margin: 0 auto 10px;
    }

    .projet2 button {
        height: 30px;
        font-size: 12px;
        line-height: 24px;
    }

    .projet2 img {
        height: 20px;
    }

    /*     .bg_projet {
        height: 250px;
        padding-bottom: 0px;
    }
 */
    .bg_projet {
        padding-top: 5%;
        width: 100%;
        height: 200px;
    }

    .projet2 h5 {
        font-size: 12px;
        line-height: 24px;
    }

    .dropdown ul li {
        margin: 0px;
        padding: 2px;
    }

    .resultat {
        height: 180px;
    }

    .scroller {
        width: 250px;
        height: 300px;
    }

    .menu-projet ul {
        width: auto;
        margin-left: -500% !important;
    }

    .menu-projet ul li a h5 {
        font-size: 15px;
        /* padding: 0; */
        margin: 0;
        line-height: 18px;
    }

    .menu-projet ul li a img {
        width: 10px;
        padding: 0;
        margin: 0;
    }

    .menu-projet ul li a p {
        padding: 0;
        margin: 0 0 0 20px;
        font-size: 10px;
        line-height: 10px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }
}

@media (max-width: 510px) {
    .bg_projet {
        padding-top: 5%;
        width: 100%;
        height: 130px;
    }

    .projet .container .col-md-6 {
        width: 100%;
        padding: 0;
    }

    .cr-projet button img {
        height: 15px;
        width: 15px;
    }

    .cr-projet button {
        font-size: 10px;
        height: 20px;
        line-height: 15px;
    }

    input#search {
        font-size: 8px;
        padding: 0;
        line-height: 15px;
    }

    .projets .dropdown ul li a,
    .projet2 p,
    .projets .dropdown .btn,
    .resultat p,
    .projets p {
        font-size: 10px;
        line-height: 15px;
    }

    .projets .dropdown ul li a {
        padding: 0 20px;
    }

    .projet2 button {
        height: 20px;
        font-size: 10px;
        line-height: 15px;
    }

    .form-group img {
        position: absolute;
        height: 12px;
        margin: 10px 0 0 15px;
    }

    .projet2 img {
        height: 15px;
    }

    .projet2 h5 {
        font-size: 7px;
        line-height: 14px;
    }

    .menu-projet ul {
        margin-left: -480% !important;
    }

    .menu-projet ul li a h5 {
        font-size: 15px;
        /* padding: 0; */
        margin: 0;
        line-height: 18px;
    }

    .menu-projet ul li {
        padding: 0;
        margin: 5px 0;
    }

    .menu-projet ul li a img {
        width: 10px;
        padding: 0;
    }

    .menu-projet ul li a p {
        padding: 0;
        margin: 0 0 0 15px;
        font-size: 10px;
        line-height: 10px;
    }
}

@media (max-width: 440px) {
    .bg_projet {
        padding-top: 4%;
        width: 100%;
        height: 110px;
    }
}
